<!DOCTYPE html>
<html>

  <head>
    <link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="libs/jquery/jquery.min.js"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="libs/angularjs/angular.min.js"></script>
     <script src="scripts/dynamicform.js"></script>
  </head>

  <body ng-app="DynamicFormModule" >
  <div ng-controller="DynamicFormController">
    <h3>{{entity.name}}</h3>
 <div ng_show="myForm.formError">Something is wrong with your form. Please check the fields.</div>
 <form name="myForm" class="form-horizontal" role="form" ng-submit="submitForm()" novalidate>
 <div ng-repeat="field in entity.fields">    
  <ng-form name="form">
    <!-- Display textbox fields -->
    <div ng-if="field.type=='text'" class="form-group">
      <label class="col-sm-2 control-label">{{field.label}}</label>
      <div class="col-sm-4">
        <input type="{{ field.type }}" dynamic-name="field.name" id="{{field.name}}" data-ng-model="field.data"  class="form-control" ng-required="{{field.required_validation.required}}" />
         <span  data-ng-show=" {{'(form.'+field.name+'.$dirty || submitted) && form.'+field.name+'.$error.required'}}">{{field.required_validation.message}}</span>
      </div>
    </div>

    <!-- Display email fields -->
    <div ng-if="field.type=='email'" class="form-group">
      <label class="col-sm-2 control-label">{{field.label}}</label>
      <div class="col-sm-4">
        <input type="{{ field.type }}" dynamic-name="field.name" id="{{field.name}}" data-ng-model="field.data" class="form-control" ng-required="{{field.required_validation.required}}" />
         <span data-ng-show=" {{'(form.'+field.name+'.$dirty || submitted) && form.'+field.name+'.$error.required'}}">{{field.required_validation.message}}</span>
         <span data-ng-show=" {{'form.'+field.name+'.$dirty && form.'+field.name+'.$error.email'}}">Not email!</span>
      </div>
    </div>

    <!-- Display Number fields -->
    <div ng-if="field.type=='number'" class="form-group">
      <label class="col-sm-2 control-label">{{field.label}}</label>
      <div class="col-sm-4">
        <input type="{{ field.type }}" dynamic-name="field.name" id="{{field.name}}" data-ng-model="field.data" data-min="{{field.min}}" data-max="{{field.max}}" class="form-control" ng-required="{{field.required_validation.required}}" />
         <span data-ng-show=" {{'(form.'+field.name+'.$dirty || submitted) && form.'+field.name+'.$error.required'}}">{{field.required_validation.message}}</span>
         <span data-ng-show=" {{'form.'+field.name+'.$dirty && form.'+field.name+'.$error.min'}}">Too young to register.</span>
         <span data-ng-show=" {{'form.'+field.name+'.$dirty && form.'+field.name+'.$error.max'}}">Too old to register.</span>
      </div>
    </div>

    <!-- Display password field -->
    <div ng-if="field.type=='password'" class="form-group" >
      <label class="col-sm-2 control-label">{{field.label}}</label>
      <div class="col-sm-4">
        <input type="{{ field.type }}" dynamic-name="field.name" data-ng-model="field.data" ng-minlength={{field.min}} ng-maxlength={{field.max}} class="form-control" ng-required="{{field.required_validation.required}}" />
         <span data-ng-show=" {{'(form.'+field.name+'.$dirty || submitted) && form.'+field.name+'.$error.required'}}">{{field.required_validation.message}}</span>
         <span data-ng-show=" {{'!form.'+field.name+'.required && (form.'+field.name+'.$error.minlength || form.'+field.name+'.$error.maxlength)' }}">Passwords must be between 8 and 20 characters.</span>
        </div>
    </div>

    <!-- Display Drop-downs -->
    <div ng-if="field.type=='select'" class="form-group" >
      <label class="col-sm-2 control-label">{{field.label}}</label>
      <div class="col-sm-4">
        <select data-ng-model="field.data" name="{{field.name}}" ng-options="option.name for option in field.options" class="form-control" ng-required="{{field.required_validation.required}}">
            <option value="">{{field.first_option_text}}</option>
        </select>
        <span data-ng-show=" {{'(form.'+field.name+'.$dirty || submitted) && form.'+field.name+'.$error.required'}}">{{field.required_validation.message}}</span>
      </div>      
    </div>

    <!-- Display Radio Fields -->
    <div ng-if="field.type=='radio'" class="form-group">
        <label class="col-sm-2 control-label">{{field.label}}</label>
        <div class="col-sm-4">
            <div class="checkbox" ng-repeat="option in field.options" >
                <label>                
                    <input type="radio" data-ng-model="field.data"  name="{{field.name}}"  id="{{option.name}}" value="{{option.id}}" ng-required="{{field.required_validation.required}}">{{option.name}}
                </label>
            </div>
            <span data-ng-show=" {{'(form.'+field.name+'.$dirty || submitted) && form.'+field.name+'.$error.required'}}">{{field.required_validation.message}}</span>
        </div>
    </div>

    <!-- Display Checkboxes (groups / single) -->
    <div ng-if="field.type=='checkbox'" class="form-group" >
        <label class="col-sm-2 control-label">{{field.label}}</label>
        <div class="col-sm-4">        
            <div ng-repeat="(key, val) in field.options">
                <input type="checkbox" ng-model="field.selected_items[val.name]" name="{{field.name}}"
                ng-required="!someSelected(field.selected_items)">  {{val.name}}
            </div>
            <span data-ng-show=" {{'(form.'+field.name+'.$dirty || submitted) && form.'+field.name+'.$error.required'}}">{{field.required_validation.message}}</span>
        </div>
    </div>

      <!-- Display textarea fields -->
    <div ng-if="field.type=='textarea'" class="form-group">
      <label class="col-sm-2 control-label">{{field.label}}</label>
      <div class="col-sm-4">
        <textarea rows="{{field.rows}}" cols="{{field.cols}}" dynamic-name="field.name" id="{{ field.type }}" data-ng-model="field.data"  class="form-control" ng-required="{{field.required_validation.required}}"></textarea>
         <span  data-ng-show=" {{'(form.'+field.name+'.$dirty || submitted) && form.'+field.name+'.$error.required'}}">{{field.required_validation.message}}</span>
      </div>
    </div>

  </ng-form>

 </div>


  <br/>
  <button type="submit" id="submit">Submit</button>
  <br/>
  <pre>{{entity|json}}</pre>
   <br/>
       
 </form>
 </div>
  </body>

</html>